
/* Below fix to Internet Explorer Fonts */
@font-face {
  font-family: 'SimplonBP';
  font-weight: lighter;
  src:  url('../fonts/Simplon BP/OTF/SimplonBP-Light.otf') format('opentype'),
        url('../fonts/Simplon BP/WOFF/SimplonBP-Light.woff') format('woff'),
         url('../fonts/Simplon BP/TTF/SimplonBP-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SimplonBP';
  font-weight: 100;
  src:  url('../fonts/Simplon BP/OTF/SimplonBP-Light.otf') format('opentype'),
        url('../fonts/Simplon BP/WOFF/SimplonBP-Light.woff') format('woff'),
         url('../fonts/Simplon BP/TTF/SimplonBP-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SimplonBP-Medium';
  font-weight: normal;
  src:  url('../fonts/Simplon BP/OTF/SimplonBP-Medium.otf') format('opentype'),
        url('../fonts/Simplon BP/WOFF/SimplonBP-Medium.woff') format('woff'),
         url('../fonts/Simplon BP/TTF/SimplonBP-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SimplonBP';
  font-weight: 200;
  src:  url('../fonts/Simplon BP/OTF/SimplonBP-Light.otf') format('opentype'),
        url('../fonts/Simplon BP/WOFF/SimplonBP-Light.woff') format('woff'),
         url('../fonts/Simplon BP/TTF/SimplonBP-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SimplonBP';
  font-weight: 300;
  src:  url('../fonts/Simplon BP/OTF/SimplonBP-Light.otf') format('opentype'),
        url('../fonts/Simplon BP/WOFF/SimplonBP-Light.woff') format('woff'),
         url('../fonts/Simplon BP/TTF/SimplonBP-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SimplonBP';
  font-weight: bold;
  src:  url('../fonts/Simplon BP/OTF/SimplonBP-Bold.otf') format('opentype'),
        url('../fonts/Simplon BP/WOFF/SimplonBP-Bold.woff') format('woff'),
        url('../fonts/Simplon BP/TTF/SimplonBP-Bold.ttf') format('truetype');
}



@font-face {
  font-family: 'SimplonBP';
  font-weight: normal;
  src:   url('../fonts/Simplon BP/OTF/SimplonBP-Regular.otf') format('opentype'),
         url('../fonts/Simplon BP/WOFF/SimplonBP-Regular.woff') format('woff'),
         url('../fonts/Simplon BP/TTF/SimplonBP-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'SimplonOi-Headline';
  src:   url('../fonts/Simplon Oi Headline/OTF/SimplonOi-Headline.otf') format('opentype'),
         url('../fonts/Simplon Oi Headline/WOFF/SimplonOi-Headline.woff') format('woff'),
         url('../fonts/Simplon Oi Headline/TTF/SimplonOi-Headline.ttf') format('truetype');
}
