/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

//default body margin, font, ect.
body{
  font-size: 16px !important;
  font-family: SimplonBP !important;
  font-weight: normal;

  & *{
    font-family: SimplonBP !important;
    font-weight: normal;
  }
}

//fix hamburger icon flash on change route to products list
.ng-cloak, .ng-hide { display: none !important};

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.nav-bar-width-subtitle,
.title.title-left.header-item,
.title.header-item{
  color: #ffffff;
  font-family: SimplonBP-Medium !important;
  font-weight: 500 !important;

}

// Include all of Ionic
@import "../www_base/lib/ionic/scss/ionic";

//first files are the imports
@import "variables.scss";

@import "./navbar/navbar.scss";

@import "./button-default/button-default.scss";

@import "./initial/initial.scss";

@import "./initial/login.scss";

@import "./products/produtos.scss";

@import "./product-home/product-home.scss";

@import "./distribution/distribution.scss";

@import "./buy-package/buy-package.scss";

@import "./transfer-balance/transfer-balance.scss";

@import "./transfer-balance/transfer-balance-range.scss";

@import "./transfer-balance/transfer-balance-success.scss";

@import "./select-menu/select-menu.scss";

@import "./historic/historic.scss";

@import "./sva/sva.scss";


//fix body margin with navbar
@import "./main-content/main-content.scss";

//customize modal
@import "./modal/modal.scss";

//navdrawer
@import "./navdrawer/navdrawer.scss";

@import "fonts.scss";
