$font-color-pink: #d82482;
$font-color-pink-two: #ed2f80;
$font-color-grey: #222222;
$font-color-grey-second: #909090;
$font-color-grey-third: #dbdbdb;
$font-color-grey-four: #313131;
$font-color-black: #000000;
$font-color-product-home: #030202;

$color_home_purple : #50117C;
$el_home_color: #8B8C90;

//bar colors:
$c1: #fc9318;
$c2: #f14c3c;
$c3: #d82481;
$c4: #aa28e6;
$c5: #546efb;

//array of colors to iterate
$colors: $c1, $c2, $c3, $c4, $c5;

//paddings
$normal-padding: 1rem;

p.card-info {
  color: $font-color-grey-second;
  text-align: center;
  font-size: 12px;
}

$font-warning-orange: #f8562c;