<ion-view view-title="Compra de Pacote">
  <ion-content class="cards-buy-package cards-home">
      <form ng-submit="add(newItem)">
        <div ng-repeat="card in person track by $index"
          class="c-input-container">

            <ion-card  class="buy-item-{{$index + 1}}">
              <ion-card-header>
                <input type="radio" value="{{card}}"
                name='person'
                ng-model="newItem" id="{{card.id}}"
                ng-click="add(newItem);">
                <h2 >{{card.phone}}</h2>
                <img src="img/ic_keyboard.svg" class="icon-arrow"/>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <p class="card-subtitle">
                        Saldo disponível</p>
                      <span class="value">
                        {{
                          changeDotByComma(transferData[$index].value)
                        }} GB
                      </span>
                    </ion-col>
                    <ion-col class="card-left">
                      <p class="card-subtitle">
                        Média de consumo</p>
                      <span>
                        <span ng-model="card.media"
                          class="value">{{card.media}} MB</span>
                        <span class="color-second"> por dia</span>
                      </span>
                    </ion-col>
                    <div class="warn-message" ng-if="$index == 2">
                     <img src="img/ic_error_orange.svg"/>
                     <span>
                        Este número precisa de 300 MB
                        além de sua franquia pra manter
                        esta média de consumo.
                      </span>
                    </div>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

        </div>
      </form>
  </ion-content>
</ion-view>
