<ion-view class="pane-white" hide-nav-bar="true" view-title="Compra de Pacote">
  <ion-content class="c-distribution remove-margin">
    <div class="c-container-success-message">
      <img src="img/ic_check.svg" />
      <div class="title">COMPRA CONFIRMADA</div>
      <div style="font-weight: bolder;
        margin: 20px 0px;
        color: red;">
        A atualização do seu saldo pode
        levar até 30 minutos.
        Por favor, aguarde a conclusão.
      </div>
      <div class="c-message">
        <div class="">
          <p ng-repeat="item in lista track by $index">Número:
            <strong>{{phoneNumber}}</strong></p>
          <p ng-repeat="pack in list track by $index">Pacote:
            <strong>{{formatNumber(pack.valuePkg)}} de Internet por R${{changeDotByComma(pack.pricePkg)}}</strong></p>
          <p>Protocolo nº: <strong>201459385863</strong></p>
          <p>Data: <strong>16/04/2018</strong></p>
        </div>
      </div>
    </div>
    <div class="c-button-container">
      <button
        ng-click="goToBuy()"
        class="button button-block button-positive btn-default">
        COMPRAR NOVO PACOTE
      </button>
      <button
        ng-click="goToInit()"
        class="c-button-init">
        VOLTAR PRO INÍCIO
      </button>
    </div>
  </ion-content>
</ion-view>
