<ion-view view-title="Compra de Pacote">
  <ion-content class="buy-package-selected-confirm">
    <form class="" ng-submit="confirmBuyPkg()">
      <p class="first-parag">A internet de pacotes comprados não poderá ser transferida pra outros números do plano.</p>
      <h2><strong>{{formatNumber(pack.valuePkg)}} de internet por R$ {{changeDotByComma(pack.pricePkg)}}</strong></h2>
      <span>Válido até 13/06/2018</span>
      <p class="second-parag">O pacote Mais Internet é
        uma compra avulsa cobrada na sua conta com validade
        até o ultimo dia do período da sua fatura.
        Consulte o regulamento no <a class="site">site da Oi</a>.
      </p>
      <button
        type="submit"
        name="button"
        class="button button-block button-positive btn-default"
        ng-click="goToBuySuccess()">Confirmar compra</button>
    </form>
  </ion-content>
</ion-view>
