<ion-view view-title="Compra de Pacote" class="change-color-back">
  <ion-content class="cards-buy-package buy-package-selected">
    <div class="c-panel-warning"
      ng-if="itemId == 2">
      <img src="img/ic_error.svg" />
      <span class="c-panel-warning-message">
      Este número precisa de 300 MB além de sua
      franquia pra manter esta média de consumo.
      </span>
    </div>
    <br ng-if="itemId == 2">
    <h2>Escolha um pacote para {{selectedItem}}</h2>
    <p>A internet de pacotes comprados não poderá ser transferida
      pra outros números do plano.
    </p>
      <form class="form-buy-package" ng-submit="addPkg(newPKg)">
    <div ng-repeat="pkg in buyPackages track
        by $index" class="c-input-container">

        <label for="{{pkg.idPkg}}">
          <span>
            <input type="radio"
              value="{{pkg}}"
              name='package'
              ng-model="newPKg"
              id="{{pkg.idPkg}}"
              ng-click="addPkg(newPKg)">
            <label for="{{pkg.idPkg}}"></label>
            <span>
              <span class="valid-until"
                ng-if="pkg.valuePkg >= 1000">
                {{pkg.valuePkg | distance:pkg.units:'GB'}}
                de internet por
                R$ {{changeDotByComma(pkg.pricePkg)}}</span>
              <span class="valid-until" ng-if="pkg.valuePkg < 1000">{{pkg.valuePkg}} {{pkg.units}} de internet por R$ {{changeDotByComma(pkg.pricePkg)}}</span>
              <span class="valid-until-subtitle">Válido até 13/06/2018</span>
            </span>
          </span>
        </label>

    </div>
      </form>
    <div class="c-button-container">
      <button
        ng-click="addPackageAndConfirm()"
        class="button button-block button-positive btn-default">
        COMPRAR PACOTE
      </button>
    </div>
  </ion-content>
</ion-view>
