.pane, .view  {
  background-color: #f5f5f5;
}

//move down content
ion-view[state="products.tab"]{
  ion-content{
    // margin-top: 2rem;
  }
}

.cards-produtos {

  //margin: 0px 1rem;

  ion-card {
    height: 143px;
    position: relative;
    display: block;
    background-color: #ffffff;
    margin-bottom: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 20px 15px 15px 15px;
    font-size: 14px;
    cursor: pointer;
    &:first-child {
      margin-top: 16px;
    }

    ion-card-header {
      //border-bottom: 1px solid #dbdbdb;
      //padding: 10px;
      .icon-arrow {
        position: absolute;
        top: 35px;
        right: 15px;
      }
      h2 {
        color: $font-color-pink;
        font-size: 18px;
        font-weight: bold !important;
        margin-bottom: 5px;
      }
      p{
        color: $font-color-grey;
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 15px;
      }
    }
    ion-card-content {
      color: $font-color-grey;
      ion-col {
        width: 50%;
        float: left;
        p.card-subtitle {
          color: $font-color-grey-second;
          margin-bottom: 0px;
        }
        span {
          font-weight: bold;
        }
      }
    }
  }

  .tab-nav{
    
    background: linear-gradient(to top, #f24354, #ec2c85) !important;
    background-color: inherit;
    background-image: linear-gradient(to top, #f24354, #ec2c85) !important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12) !important;
    height: 3.5rem; // height: 6.5rem;
    position: absolute;
    // padding-top: 4.5rem;
    top: 0px;

    .tab-item.tab-item-active {
        margin-top: 0px;
        border-width: 0px !important; // border-width: 0px 0px 3px 0px !important;
    }

    .tab-title{
      display: none; //hide tab-title
      font-size: 0.9rem;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
    }

  }
}
