<ion-view
    class="pane-white"
    hide-nav-bar="true"
    view-title="Transferir Saldo">
    <ion-content
        ng-controller="MainCTRL"
        class="c-distribution remove-margin">
        <div
          ng-controller="TransferCtrl"
          class="c-transfer-balance-sucess c-transfer-balance-container">
          <!-- sucess header -->
          <div class="c-container-success-message">
            <img src="img/ic_check.svg" />
            <div class="title">Transferência confirmada!</div>
            <div class="c-message">
              <div class="c-message-p">
                Tudo certo! Transferência aplicada com sucesso.
              </div>
              <div class="c-message-p">
                O <b>{{phoneNumbers[0]}}</b>
                transferiu
                <b>{{diffSucess}}
                  GB</b>
                  para <b>{{phoneNumbers[1]}}</b>.
              </div>

              <!-- user info -->
              <div class="c-user-info">
                <div class="user">
                  <div class="oval1">
                  </div>
                  <div class="phone">
                    {{phoneNumbers[0]}}
                  </div>
                  <div class="data">
                    {{phoneNumbers[2]}} GB
                  </div>
                </div>
                <div class="separator"></div>
                <div class="user">
                  <div class="oval2"></div>
                  <div class="phone">
                    {{phoneNumbers[1]}}
                  </div>
                  <div class="data">
                    {{phoneNumbers[3]}} GB
                  </div>
                </div>
              </div>

              <!-- protocol -->
              <div class="c-message-p">
                Protocolo nº: <strong>201459385863</strong>
              </div>
            </div>
          </div>
          <div class="c-button-container">
            <button
              ng-click="goToInit()"
              class="c-button-init">
              VOLTAR PRO INÍCIO
            </button>
          </div>
        </div>
    </ion-content>
</ion-view>
