<ion-view view-title="Transferir Saldo" ng-controller="TransferCtrl">
    <ion-content
      ng-controller="MainCTRL"
      class="c-transfer-balance remove-margin">
        <div class="c-transfer-balance-container">
          <div class="c-transfer-message" ng-if="showMessage">
              <img src="img/ic_error.svg" />
              <div class="c-wrapper-content">
                  <span class="content">
                      O número {{selectedNumber}} não
                      não pode ter menos de 0,01 GB.
                  </span>
              </div>
          </div>
          <h3 class="transfer-select transfer-range">
            Transfira seu saldo de internet entre os dois:
          </h3>

          <div class="transfer-users">
              <div class="transfer-first">
                  <p class="user-name">{{firstUser.phone}}</p>
                  <!-- <span class="user-tel">{{firstUser.name}}</span> -->
                  <p class="balance-value">{{firstUser.current}} <span>GB</span></p>
              </div>
              <div class="transfer-second">
                  <p class="user-name">{{secondUser.phone}}</p>
                  <!-- <span class="user-tel">{{secondUser.nome}}</span> -->
                  <p class="balance-value">{{secondUser.current}} <span>GB</span></p>
              </div>
          </div>

          <div class="transfer-explanation">
              <span>10 MB</span>
              <img src="img/ic_compare_arrows_grey.svg" />
              <span>10 MB</span>
          </div>

          <div class="range-slider">
              <div></div>
          </div>

          <div class="input-range-custom">
            <div
              class="left"></div>
            <div
              class="right"></div>
            <input
              id="input-range-transfer"
              min="0"
              step="0.01"
              max="{{sum}}"
              type="range"
              ng-model="customUserValue"
              ng-change="onInputRangeChange(customUserValue)" />
          </div>

          <button class="button-desfazer" ng-click="resetUsersValues()">
              <span>DESFAZER</span>
          </button>


          <div class="c-button-container c-button-range">
              <button
                ng-click="goTransferBalanceSuccess()"
                class="button button-block button-positive btn-default">
                  CONFIRMAR TROCA
              </button>
          </div>
          <p class="card-info">
              Informações atualizadas: Agora mesmo.
              <br />
              <a>Atualizar saldos</a>
          </p>

      </div>

    </ion-content>
</ion-view>
