<ion-view view-title="Transferir Saldo">
    <ion-content class="c-transfer-balance remove-margin" ng-controller="TransferCtrl as T">

        <div class="c-transfer-balance-container" ng-controller="MainCTRL">

            <span>Última transferência feita: há 2 dias</span>
            <h3 class="transfer-select">Selecione <span>duas</span> pessoas para começar a transferência:</h3>

            <ion-list class="transfer-list"
            ng-repeat="item in transferData">
              <ion-item class="transfer-item">
                  <div class="option-wrapper">
                      {{data[$index]}}
                      <br />
                      <input
                        ng-model="Item[$index]"
                        ng-change="onChange($index)"
                        type="checkbox"
                        name="cool-checkboxes"
                        id="__check-transfer-{{$index}}" />

                      <label
                        class="label-text"
                        for="__check-transfer-{{$index}}" />
                  </div>

                  <div class="transfer-user-info">
                      <div class="circle circle-{{$index + 1}}"></div>
                      <div class="transfer-user">
                          <!-- <span>{{item.name}}</span> -->
                          <p>{{item.phone}}</p>
                      </div>
                      <div class="value">{{item.value}} {{item.units}}</div>
                  </div>
              </ion-item>

            </ion-list>
            <div class="c-button-container">
                <button
                  ng-click="goTransferBalanceRange()"
                  ng-disabled="goToSucess"
                  class="button button-block button-positive btn-default">
                    CONFIRMAR TROCA
                </button>
            </div>
            <p class="card-info">
                Pacotes extras contratados não podem ser transferidos. Informações atualizadas: Agora mesmo.<br /><a>Atualizar saldos</a>
            </p>
        </div>

    </ion-content>
</ion-view>
