<ion-modal-view
    class="c-modal-product-home"
    cache-view="false">
    <div class="c-modal-body">
      <div class="c-modal-wrapper">
        <div class="title">
          Detalhamento
        </div>
        <div class="content">

          <p class="modal-description">
            Franquia mensal de internet:
            <span>16,66  GB</span>
          </p>
          <br />
          <!-- p ng-show="!(selected.package == 0)"
            class="modal-description">
            Pacote extra:
            <span>
              {{convertValue(selected.package)}}
            </span>
          </p -->

          <p class="modal-consumo-mensal">
            Consumo mensal:
            <span>
              {{selected.consumption}}
            </span>
          </p>

        </div>
        <div class="button-container" ng-click="modal.hide()">
          <button>Ok, entendi</button>
        </div>
      </div>
    </div>
  </ion-modal-view>
