<ion-modal-view class="c-modal-product-home" cache-view="false">
  <ion-content>
    <div class="c-modal-body">
      <div class="c-modal-wrapper">
        <div class="title">
            A internet acabou?
        </div>
        <div class="content">
            Se um número do plano está sem internet, você tem duas opções:
  
        </div>
        <div class="button-container">
          <button ng-click="$parent.goTransferBalance()">Transferir saldo</button>
          <button ng-click="$parent.goCompraPacote()">Comprar pacotes</button>
          <button ng-click="$parent.closeModal()">Não, obrigado</button>
          
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
  