<ion-modal-view class="c-modal-product-home" cache-view="false">
    <div class="c-modal-body">
      <div class="c-modal-wrapper">
        <div class="title">
          Detalhes do consumo
        </div>
        <div class="content">

          <p class="modal-description">
            Franquia mensal de internet: <br />
            <span>16,66  GB</span>
          </p>
          <p class="modal-description">
            Pacote extra: <span>1 GB</span>
          </p>

          <p class="modal-consumo-mensal">
            Consumo mensal: <span>18 GB</span>
          </p>

        </div>
        <div class="button-container" ng-click="modal.hide()">
          <button>Ok, entendi</button>
        </div>
      </div>
    </div>
  </ion-modal-view>
