.background-change{
  .c-bar-wrapper{
    background-color: white !important;
  }
}

.c-distribution{
  &.remove-margin{
    margin: 0px !important;
  }

  &.c-distribution-change{
    background: #F0F0F0;
  }

  .c-bar-wrapper{
    background-color: #F0F0F0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    padding: 1.5rem $normal-padding;
    text-align: center;

    .c-user-max-info{
      font-size: 0.9rem !important;
      font-weight: 900 !important;
    }

    .c-bar-container{
      overflow: hidden;
      width: 100%;
      border-radius: 4px;
      display: flex;
      margin-bottom: 0.2rem;

      .c-bar-info{
        height: 1.5rem;

        @for $i from 1 through length($colors){
          &:nth-child(#{$i}){
            background-color: nth($colors,$i);
          }
        }

        div.child{
          width: 100%;
        }
      }
    }
  }

  .c-owner-info-wrapper{
    padding: 0rem $normal-padding;

    div.c-owner-item{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: $normal-padding 0px;
      border-bottom: 1px solid $font-color-grey-third;

      &:last-child{
        border-bottom-width: 0px;
      }

      @for $i from 1 through length($colors){
        .circle-#{$i}{
          background-color: nth($colors,$i);
        }
      }

      .circle{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }

      .phone{
        margin-right: auto;
        text-align: left;
        flex-grow: 1;//width max
      }

      .value{
        font-weight: bold !important;
      }
    }
  }

  .c-text-distribution{
    font-size: 0.8rem;
    line-height: 1.33;
    text-align: center;
    padding: 0px $normal-padding;
    color: $font-color-grey-second;
  }

  .c-button-container{
    padding: 0px $normal-padding;

    button[disabled]{
      opacity: 1 !important;
    }

    &.margin-adjust{
      margin-top: -1rem;
    }

    .c-button-init{
      background: transparent;
      outline: none;
      font-size: 0.9rem;
      font-weight: bold;
      text-align: center;
      color: #ed2f80;
      width: 100%;
      border-width: 0px;
    }
  }

  //error
  .c-panel-warning{
    border-radius: 2px;
    background-color: #f8562c;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    padding: 1rem;
    display: flex;
    align-items: center;
    height: 5.3rem;
    position: absolute;
    top: 0;
    z-index: 100;

    img{
      //width: 3rem;
      transform: scale(1.3);
      margin-right: 0.5rem;
      display: block;
    }

    .c-panel-warning-message{
      font-size: 0.9rem;
      font-weight: bold;
      line-height: 1.14;
      text-align: left;
      color: #ffffff;
      font-family: SimplonBP-Medium !important;
      font-weight: 500;

      span{
        font-family: SimplonBP-Medium !important;
        font-weight: 500;
      }
    }
  }

  //distribution change:
  .c-panel-info{
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    background: white;
    align-items: center;
    height: 5.3rem;

    .total{
      white-space: nowrap;
      p{
        font-size: 0.8rem;
        line-height: 1.17;
        text-align: left;
        color: $font-color-grey-second;
        margin: 0px !important;
      }
    }

    .current{
      display: flex;
      font-weight: bold;
      align-items: center;
      height: 4.3rem;
      border-radius: 0.2rem;
      position: relative;
      z-index: 100;
      background: white;
      padding: 0 0.5rem;

      img{
        visibility: collapse;
      }

      &.active{
        * {
          color: #19c40b !important;
        }

        img{
          visibility: visible;
        }
      }

      .left{
        font-size: 2rem;
        text-align: right;
        color: #222222;
        margin-right: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 1rem;
        white-space: nowrap;
      }

      .right{
        white-space: nowrap;
        p{
          margin: 0px !important;
          font-size: 0.9rem;
          text-align: left;
          color: #000000;
          line-height: 1.17;
        }
      }
    }
  }

  .c-input-wrapper{
    padding: 1rem;

    .c-input-container{
      margin-bottom: 1.3rem;
    }

    .c-input-item{
      position: relative;
      margin: 1rem 0px;

      .c-bg-container{
        position: absolute;
        height: 1rem;
        width: 100%;
        overflow: hidden;
        border-radius: 100px;
        background-color: $font-color-grey-third;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        z-index: 1;

        @for $i from 1 through length($colors){
          .bg-before-#{$i}{
            background-color: nth($colors,$i);
            height: 100%;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
          }
        }
      }
    }

    input[type='range']{
      position: relative;
      width: 100%;
      -webkit-appearance: none;
      height: 1rem;
      background: transparent;
      z-index: 2;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 30px;
      height: 30px;
      background: white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
      border-radius: 50%;
      //margin-top: -0.5rem;
    }

    input[type=range]:focus {
      outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
    }

    .c-info{
      display: flex;
      justify-content: space-between;

      .value{
        font-weight: bold !important;
      }
    }
  }

  .c-container-success-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 1rem;


    img{
      display: block;
      width: 2.2rem;
      height: 2.2rem;
      margin-bottom: 1rem;
    }

    .title{
      font-family: SimplonOi-Headline !important;
      font-size: 20px;
      text-align: center;
      color: #00d213;
    }

    .c-message{
      margin: 0.5rem 0px;

      div.c-message-p{
        font-size: 0.9rem;
        line-height: 1.43;
        text-align: left;
        color: #000000;
        margin-bottom: 1.5rem;
      }
    }
  }

  .c-button-init{
    margin: 0.5rem 0px;
  }

  .c-dist-message{
    padding: 1rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 0.08rem;
    display: flex;
    align-items: center;

    img{
      margin-right: 0.5rem;
    }

    .c-wrapper-content{
      width: 100%;

      span.content{
        display: block;
        font-size: 0.9rem;
        text-align: left;
        color: $font-warning-orange;
        max-width: 12rem;

        &.extra-width{
          max-width: initial;
        }
      }

    }
    button.c-go-detail{
      border-width: 0px;
      outline: none;
      font-size: 0.9rem;
      font-weight: bold;
      text-align: right;
      background: transparent;
      color: $font-color-pink-two;
    }
  }
}

//the modal
.c-modal-distribution{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto !important;
  background: rgba(0,0,0,0.5);
  z-index: 12;
  transform: scale(0);
  opacity: 0;
  transition: all 300ms;

  &.active{
    transform: scale(1);
    opacity: 1;
  }

  .c-modal-arrow{
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: -1.25rem;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }

  .c-modal-wrapper{
    background: white;
    top: 6rem;
    position: relative;
    height: 15rem;
    margin: 0px 0.5rem;
    padding: 2rem;
    border-radius: 2px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title{
      font-weight: 900;
      text-align: left;
      color: #222222;
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }

    .content{
      flex-grow: 1;
      color: #222;
    }

    .button-container{
      //align-self: flex-end;
      width: 100%;
      text-align: right;


      button{
        background: transparent;
        border-width: 0px;
        outline: none;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: right;
        color: #ed2f80;
      }
    }

  }
}
