.nav-bar-width-subtitle{
    color: #ffffff;
    line-height: 1.4 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;

    .title-nav{
      font-family: SimplonBP-Medium !important;
      font-weight: 500 !important;
      font-size: 1.3rem;
      line-height: 1.4 !important;

    }
    .sub-title{
      font-size: 0.8rem;
    }
}

.c-sva{
    background: #ffffff;

    .c-section-info{
      z-index: 0;
      position: relative;
      padding: 1rem;

      *{
        transition: opacity 500ms;
      }

      .c-whithout-any{
        font-size: 0.8rem;
      }

      .c-whith{
        margin-top: -1rem;

        h3,
        h3:first-child{
          margin-top: 1rem !important;
        }

        > .first{
          padding: 0 0 1rem 0;

          h3:first-child{
            margin-top: 0rem !important;
          }
        }

        .c-content{
          padding-bottom: 1rem;

          &.last{
            border-bottom: none !important;
          }
        }

      }

      .c-whith,
      .c-whithout-any{
        opacity: 0;

        h3{
          font-size: 1rem;
          font-weight: 600;
          color: #000000;
        }

        .c-content{
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          font-size: 14px;
          font-weight: normal;
          color: #4a4a4a;

          img{
            width: 14px;
            height: 14px;
          }

          border-bottom: 1px solid #dbdbdb;
        }

        &.active{
          opacity: 1;
        }
      }
    }

    &.remove-margin{
        margin: 0px !important;

        .c-sva-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            .cards-member {
                background-color: #ffffff;
                padding: 15px 16px 20px 16px;
                display: block;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
                margin-bottom: 8px;
                width: 100%;
                position: relative;
                z-index: 1;

               .sva-header{
                  display: flex !important;
                  flex-direction: row !important;
                  justify-content: space-between;

                  h2 {
                      font-size: 18px;
                      font-family: SimplonOi-Headline !important;
                      color: $font-color-black;
                      text-transform: uppercase;
                      width: 114px;
                  }
              }
            }
        }
    }
}
