<ion-view
    view-title="Histórico de ações"
    ng-app="myApp">
    <ion-pane
      ng-controller="HistoricCtrl"
      class="c-historic-container">
      <div class="c-historic-header">
        <section class="cards-member">
          <h2>{{filterdBy}}</h2>

          <select-menu ctrl-name="HistoricCtrl"></select-menu>
        </section>
      </div>
      <!-- end header -->

      <!-- list -->
      <div class="c-list">
        <div class="item" ng-repeat="item in infoData track by $index">
          <div class="c-wrapper">
            <div class="c-date">
              <div class="sup">
                {{formatDate(item.date.getDate())}}/{{formatDate(item.date.getMonth() + 1)}}
              </div>
              <div class="sub">

              </div>
            <br>
            </div>
            <div class="c-info">
              <div class="c-title">
                {{item.title}}
              </div>
              <div class="c-descr">
                <span ng-bind-html="item.description"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-pane>
</ion-view>
