<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <link href="css/ionic.app.min.css" rel="stylesheet">


    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- build:js dist_js/main.js -->
    <script src="lib/d3/d3.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/services/buy-package-service.js"></script>
    <script src="js/services/product-home-service.js"></script>
    <script src="js/services/transfer-balance-service.js"></script>
    <script src="js/services/product-title-service.js"></script>
    <script src="js/services/date-service.js"></script>
    <script src="js/filter/filter.js"></script>
    <script src="js/controllers/main/main.js"></script>
    <script src="js/controllers/navbar/navbar.js"></script>
    <script src="js/controllers/product-home/product-home.js"></script>
    <script src="js/controllers/distribution/distribution.js"></script>
    <script src="js/controllers/products/products.js"></script>
    <script src="js/controllers/buy-package/buy-package.js"></script>
    <script src="js/controllers/transfer-balance/transfer-balance.js"></script>
    <script src="js/controllers/sva/sva.js"></script>
    <script src="js/controllers/historic/historic.js"></script>
    <script src="js/controllers/navdrawer/navdrawer.js"></script>
    <script src="js/controllers/initial/login.js"></script>
    <script src="js/controllers/initial/initial.js"></script>
    <script src="js/directives/distribution/distribution-display.js"></script>
    <script src="js/directives/distribution/modal.js"></script>
    <script src="js/directives/donutchart/donutchart.js"></script>
    <script src="js/directives/products/products-list.js"></script>
    <script src="js/directives/NavDrawer/NavDrawer.js"></script>
    <script src="js/directives/donutchart/chartfix.js"></script>
    <script src="js/directives/select-menu/select-menu.js"></script>


    <!-- endbuild -->


    <!-- templates -->
    <script src="templatejs/templates.js"></script>

  </head>
  <!-- body ng-app="starter" ng-controller="MainCTRL" ng-strict-di -->
  <body ng-app="starter" ng-controller="MainCTRL">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-side-menus enable-menu-with-back-views="true">
      <!-- Left menu -->
      <ion-side-menu side="left">
      </ion-side-menu>

      <!-- div class="navmenu-content">
        <nav-drawer class="c-nav-drawer"></nav-drawer>
      </div -->

      <div class="content-backdrop"></div>
      <ion-side-menu-content ng-controller="NavbarCtrl">
        <ion-nav-bar ng-show="showNavbar"
          class="bar-stable c-custom-bar"
          ng-class="transparenceClass">
          <div class="c-navbar-overlay" ng-class="overlay"></div>
          <ion-nav-back-button>
          </ion-nav-back-button>
          <ion-nav-buttons side="left">
            <button ng-cloak ng-show="showMenu"
              class="button button-clear button-positive ng-cloak"
              ng-click="openNavDrawer()">
                <img src="img/ic_menu.svg" />
            </button>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
            <button ng-show="!showMenu"
                class="button button-clear button-positive"
                ng-click="showPopover($event)">
                <img src="img/more_vert.svg" />
            </button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>

      <div class="navmenu-content" ng-controller="DrawerCTRL">
        <nav-drawer class="c-nav-drawer"></nav-drawer>
      </div>
    </ion-side-menus>
  </body>
</html>
