
@mixin transparent(){
  background: transparent !important;
  border-width: 0px !important;
  background-image: none !important;
  box-shadow: none !important;
}

//custom drawer
ion-side-menu-content{
  transform: none !important;
}

.navmenu-content{
    position: absolute;
    z-index: 10;
    margin-left: -19rem;
    width: 19rem;
    height: 100%;
    background: white;
    pointer-events: none;
}

.menu-content.pane.menu-animated{
  & + .navmenu-content{
    transition: 300ms left ease;
  }
}

.content-backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 9;
    transform: scale(0);
    pointer-events: none;
}
//end navdrawer
.menu-open .content-backdrop {
	z-index: 9;
	-webkit-transition: 0.1s opacity linear;
	-moz-transition: 0.1s opacity linear;
	transition: 0.1s opacity linear;
  transform: scale(1);
  pointer-events: none;
}

.c-custom-bar.transparent{
  @include transparent();

  & *{
    @include transparent();
  }
}

.c-custom-bar{
  background-image: linear-gradient(to top, #f24354, #ec2c85) !important;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  color: white;
  height: 57px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;

  & *{
    color: white !important;
  }

  .header-item{
    position: relative !important;
    left: 0 !important;
  }

  .title{
    margin-right: auto;
    font-size: 1.2rem !important;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
  }

  .c-navbar-overlay{
    background: rgba(0,0,0,0.5);
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 57px;
    width: 100%;
    z-index: 120;
    transition: color 300ms;
    opacity: 0;
    transform: scale(0);

    &.active{
      opacity: 1;
      transform: scale(1);
    }
  }

  .left-buttons{
    margin-top: 0.5rem;
  }
}

.c-popover{
  border-radius: 2px !important;
  background-color: white !important;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5) !important;
  height: auto !important;
  max-width: 11.5rem;

  *{
    overflow: hidden !important;
  }

  .item{
    background: transparent !important;
    color: black !important;
    width: 100%;
    border-color: #d8d8d8 !important;
    border-left-width:0px !important;
    border-right-width: 0px;
    border-top-width:  0px;
    text-align: left;
    border-bottom: 1px solid #d8d8d8;
  }
}
