.cards-buy-package {

  margin: 0px 0rem;
  ion-card {
    min-height: 143px;
    height: auto;
    position: relative;
    display: block;
    background-color: #ffffff;
    margin-bottom: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding: 5px 15px 15px 15px;
    font-size: 14px;
    cursor: pointer;

    & .card-left{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &:first-child {
      margin-top: 16px;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    ion-card-header {
      //border-bottom: 1px solid #dbdbdb;
      //padding: 10px;
      .icon-arrow {
        position: absolute;
        top: 20px;
        right: 15px;
      }
      h2 {
        color: $font-color-pink;
        font-size: 18px;
        font-weight: bold !important;

        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 15px;
      }
      p{
        color: $font-color-grey;

      }
    }
    ion-card-content {
      color: $font-color-grey;
      ion-col {
        width: 50%;
        float: left;
        margin-bottom: 10px;
        p.card-subtitle {
          color: $font-color-grey;
          margin-bottom: 0px;
        }
        span {
          font-weight: bold;
          font-size: 18px;
          &.color-second {
            color: $font-color-grey-second;
          }
        }
      }
      .warn-message {
        color: #f8562c;
        display: flex;
        width: 100%;
        line-height: 14px;
        img {
          margin-right: 5px;
        }
        span{
          font-family: SimplonBP-Medium !important;
          font-weight: 500;
        }
      }
    }
  }
}
ion-view.change-color-back {
  background-color: #ffffff;
  .buy-package-selected {

    h2 {
      font-size: 16px;
      font-weight: bold;
      color: $font-color-grey;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    p {
      color: $font-color-grey;
      line-height: 1.29;
      font-size: 14px;
      margin-bottom: 1.2rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .c-button-container{
      margin-top: 1.2rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .form-buy-package{
      margin-left: 1px;
      display: block;
      margin-left: 1rem;
      margin-right: 1rem;
      label {
        border-top: 1px solid #dbdbdb;
        padding: 16px 0;
        display: block;

        span{
          display: flex;
          align-items: center;

          input {
            //margin-right: 20px;
            display: none;
          }
          input + label {
            display: block;
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 50%;
            border: 2px solid #d82482;
            padding: 0;
            position: relative;
            margin-right: 1.3rem;
          }

          input:checked + label:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 12px;
              height: 12px;
              border-radius: 100%;
              background: #d82482;
              left: 2px;
              top: 2px;
          }

          span{
            display: flex;
            flex-direction: column;
            margin-top: -0.15rem;

            span.valid-until {
              font-size: 20px !important;
              font-weight: bold;
              color: #000000;
            }
            span.valid-until-subtitle {
              display: block;
              width: 100%;
              color: #4a4a4a;
            }
          }
        }
      }
    }
  //error
    .c-panel-warning{
      border-radius: 2px;
      background-color: #f8562c;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
      padding: 1rem;
      display: flex;
      align-items: center;
      height: 5.3rem;
      margin-top: -0.1rem;
      img{
        //width: 3rem;
        transform: scale(1.3);
        margin-right: 0.5rem;
        display: block;
      }
      .c-panel-warning-message{
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 1.14;
        text-align: left;
        color: #ffffff;
        font-family: SimplonBP-Medium !important;
        font-weight: 500;
      }
    }
  }
}
.buy-package-selected-confirm {
  margin: 24px 1rem;
  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  }
  p.first-parag {
    color: $font-color-grey;
    line-height: 1.29;
    font-size: 14px;
  }
  p.second-parag {
    color: $font-color-grey-second;
    line-height: 1.25;
    font-size: 14px;
  }
  span {
    font-size: 14px;
    color: #4a4a4a;
    display: block;
    margin-top: -10px;
    margin-bottom: 32px;
  }
  button {
    position: absolute;
    bottom: 24px;
  }
  a.site{
    color: #d82482;
    text-decoration: underline;
  }
}
.cards-home {
  input{
    width: 100%;
    min-height: 143px;
    position: absolute;
    display: block;
    height: 143px;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity:  0;
  }

  .value{
    color: #222222;
  }
}
