<ion-view view-title="Compra Pacote">
  <ion-content>
    <ion-list>
      <input placeholder="name"/>
      <input placeholder="password"/>
      <button>Logar</button>
    </ion-list>
  </ion-content>
</ion-view>
