//backdrop
.modal-backdrop-bg {
    transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
}

.active .modal-backdrop-bg {
    opacity: 0.5;
}


.modal-custom{
  &.modal{
    margin: 0px 0.5rem;
    width: calc(100% - 1rem) !important;
    top: 9rem;
    //height: 100px;
    min-height: 10px;
    height: 15rem;
  }

  &.slide-in-up {
  	-webkit-transform: scale(0.0);
    	transform: scale(0.0);
    	opacity: 0;
  }
  &.slide-in-up.ng-enter,
  &.slide-in-up > .ng-enter {
  	-webkit-transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
   	transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
  }
  &.slide-in-up.ng-enter-active,
  &.slide-in-up > .ng-enter-active {
  	-webkit-transform: scale(1);
   	transform: scale(1);
  	opacity: 1;
  }
  &.slide-in-up.ng-leave,
  &.slide-in-up > .ng-leave {
  	-webkit-transition: all ease-in-out 250ms;
   	transition: all ease-in-out 250ms;
  }
}
