.initial-home {
    background-image: linear-gradient(to top, #f24354, #ec2c85);
    top: 0px !important;
    padding: 0 3.5rem; /*56px*/

    .initial-header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin: 1.25rem 0 5.625rem 0; /*20px / 90px*/
        width: 100%;

        h1{
            font-family: SimplonOi-Headline !important;
            color: #FFF;
            text-transform: uppercase;
            margin-right: 0.3125rem; /*5px*/
            font-size: 1.25rem; /*20px*/
        }
        img{
            margin-bottom: 0.625rem; /*10px*/
        }
    }

    .initial-menu{
        

        .menu-item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 2.8125rem 0; /*45px*/

            h2{
                font-family: SimplonBP-Light !important;
                line-height: 2rem; /*32px*/
                font-weight: 300;
                text-align: left;
                color: #FFF;
            }
            p{
                font-family: SimplonBP;
                font-size: 1rem; /*16px*/
                line-height: 1.5rem; /*24px*/
                text-align: left;
                color: #FFF;
                width: 10rem; /*160px*/
                margin: 0;
            }
        }
        img{
            margin-bottom: 3.125rem; /*50px*/
        }

        .second{
            margin: 4.5625rem 0 !important;/*73px*/
        }
    }

    .white-line{
        width: 100%;
        height: 0.0625rem; /*1px*/
        background: #FFF;
        display: block;
        clear: both;
    }

    
}