.initial-login {
  background-image: linear-gradient(to top, #f24354, #ec2c85);
  top: 0px !important;
  padding: 0 56px;
  .list-inset {
    overflow: hidden;
    margin: 92px 10px;
    border-radius: 2px;
    background-color: transparent;
    color: #ffffff !important;

    /* Hoshi */
    .input {
    	position: relative;
    	z-index: 1;
    	display: inline-block;
    	//margin: 1em 0;
    	//max-width: 350px;
    	width:100%;
    	vertical-align: top;
      .input__field {
        position: relative;
        display: block;
        float: right;
        padding: 0.8em;
        width: 60%;
        border: none;
        border-radius: 0;
        color: #ffffff;
        font-weight: bold;
        color: #ffffff !important;
        font-size: 21px;
        -webkit-appearance: none; /* for box shadows to show on iOS */
      }
      .input__field:focus {
        outline: none;
      }

      .input__label {
        display: inline-block;
        float: right;
        padding: 0 1em;
        width: 40%;
        color: #ffffff;
         opacity: 0.8;
        font-weight: bold;
        font-size: 21px;
        -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .input__label-content {
        position: relative;
        display: block;
        padding: 2.2em 0;
        width: 100%;
      }
      .input--hoshi {
        overflow: hidden;
      }

      .input__field--hoshi {
        margin-top: 2em;
        padding: 0.85em 0.15em;
        width: 100%;
        background: transparent;
        color:  #ffffff;
      }

      .input__label--hoshi {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 0.25em;
        width: 100%;
        height: 100%;
        text-align: left;
        pointer-events: none;
      }

      .input__label-content--hoshi {
        position: absolute;
      }
      .input__label--hoshi::before,
      .input__label--hoshi::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 0px);

      }
      .input__label--hoshi::before {
        border-bottom: 1px solid #ffffff;

      }

      .input__label--hoshi::after {
        margin-top: 2px;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        font-size: 14px;
      }

      .input__label--hoshi-color-1::after {
        border-color: #ffffff;
      }


      .input__field--hoshi:focus + .input__label--hoshi::after,
      .input--filled .input__label--hoshi::after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      input.ng-prestine {
        padding: 0px 0px 15px 5px;
      }
      input.ng-dirty {
        padding: 40px 0px 15px 5px;
        // -webkit-animation: anim-1 0.3s forwards;
        // animation: anim-1 0.3s forwards;
      }
    }
    .new-check-style {
      margin: 30px 0 30px 0;
      display: flex;
      input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        z-index: 999;
        width: 25px;
        height: 25px;
        & + label {
         position: relative;
         //cursor: pointer;
         padding: 0;
       }
           // Box.
       & + label:before {
         content: '';
         margin-right: 10px;
         display: inline-block;
         vertical-align: text-top;
         width: 18px;
         height: 18px;
         background: transparent;
         border:2px solid #ffffff;
         border-radius: 3px;
       }

      &:checked + label:before {
         background: transparent;
       }
       &:checked + label:after {
          content: '';
          position: absolute;
          left: 4px;
          top: 10px;
          background: white;
          width: 2px;
          height: 2px;
          box-shadow:
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
          transform: rotate(45deg);
        }
      }
    }
    .initial-login-other {
      text-transform: uppercase;
      font-size: 14px;
      .criar-conta {
        float: right;
        font-weight: bold;
      }
    }
    .btn-login {
      width: 100%;
      height: 54px;
      background-color: #ffffff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
      border: none;
      margin-bottom: 30px;
    }
  }
}
@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -25%, 0);
    transform: translate3d(-1em, -25%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }
}

@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -25%, 0);
    transform: translate3d(-1em, -25%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }
}
