<div class="c-distribution-display">
  <!-- bar -->
  <div class="c-bar-wrapper">
    <div class="c-bar-container">
      <div ng-repeat="value in data.values" class="c-bar-info">
        <div class="child" id="{{'c-bar-' + $index}}"></div>
      </div>
    </div>
    <div class="c-user-max-info">
      FRANQUIA TOTAL: {{data.max}} GB
    </div>
  </div>

  <!-- owner info -->
  <div class="c-owner-info-wrapper">
    <div ng-repeat="item in data.values" class="c-owner-item">
      <div class="circle circle-{{$index + 1}}"></div>
      <div class="phone">{{item.phone}}</div>
      <div class="value">{{item.value}} GB</div>
    </div>
  </div>
</div>
