<div class="c-modal-body">
  <div class="c-modal-wrapper">
    <div class="c-modal-arrow"></div>
    <div class="title">
      {{modalText.title}}
    </div>
    <div class="content">
      {{modalText.content}}
    </div>
    <div class="button-container" ng-click="closeModal()">
      <button>OK, ENTENDI</button>
    </div>
  </div>
</div>
