<ion-view class="pane-white" hide-nav-bar="true" view-title="Distribuição de internet">
  <ion-content class="c-distribution remove-margin">
    <div class="c-container-success-message">
      <img src="img/ic_check.svg" />
      <div class="title">SUCESSO!</div>
      <div class="c-message">
        <div class="c-message-p">
          Tudo certo! A nova distribuição de internet estará
          disponível a partir do dia <strong>{{currentDate}}</strong>.
        </div>
        <div class="c-message-p">
          Protocolo nº: <strong>201459385863</strong>
        </div>
      </div>
    </div>
    <ion-list>
      <distribution-display class="background-change"></distribution-display>
    </ion-list>
    <div class="c-button-container">
      <button
        ng-click="goToInit()"
        class="c-button-init">
        VOLTAR PRO INÍCIO
      </button>
    </div>
  </ion-content>
</ion-view>
