<ion-view view-title="Programada para {{currentDate}}">
  <ion-content class="c-distribution remove-margin">
    <ion-list>
      <distribution-display
        datachange="{{$parent.dataAfterChange}}">
        </distribution-display>
    </ion-list>
  </ion-content>
</ion-view>
