<ion-view view-title="Distribuição de internet">
  <ion-content class="c-distribution c-distribution-change remove-margin">
    <div class="c-main-content-wrapper-distribution">
      <div>
        <div class="c-panel-info">
          <div class="total">
            <p>Franquia total</p>
            <p>de {{data.max}} GB</p>
          </div>
          <div class="current" ng-class="allOk">
            <div class="left">
              <img src="img/ic_check.svg" />
              {{formatFloatNumber(current)}} GB
            </div>
            <div class="right">
              <p>pra</p>
              <p>distribuir</p>
            </div>
          </div>
        </div>
        <div class="c-panel-warning" ng-if="showWarningMessage">
          <img src="img/ic_error.svg" />
          <span class="c-panel-warning-message">
            Você precisa diminuir a internet de alguém
            pra aumentar a de outra pessoa.
          </span>
        </div>
      </div>
      <div class="c-input-wrapper">
        <!-- track by item.id dont 'flash' the input size -->
        <div
          ng-repeat="item in data.values track by item.id"
          class="c-input-container">
          <div class="c-info">
            <div class="phone">{{::item.phone}}</div>
            <div class="value">{{formatFloatNumber(item.value)}} GB</div>
          </div>
          <div class="c-input-item">
            <div class="c-bg-container">
              <div class="bg-before-{{$index + 1}}"></div>
            </div>
            <input
              id="{{::'c-input-' + $index}}"
              ng-model="item.value"
              type="range"
              min="0"
              step="{{currentStep}}"
              max="{{::data.max}}"
              ng-disabled="inputDisabled"
              value="{{::item.value}}"/>
          </div>
        </div>
      </div>
      <div class="c-button-container margin-adjust">
        <button
          ng-click="apply()"
          ng-disabled="inputDisabled"
          class="button button-block button-positive btn-default">
          APLICAR
        </button>
      </div>
      <modal-distribution ng-class="modalClass" class="c-modal-distribution"></modal-distribution>
    </div>
  </ion-content>
</ion-view>
