<ion-view view-title="Distribuição de internet">
  <ion-content class="c-distribution remove-margin">
    <ion-list>
      <div class="c-dist-message" ng-if="hasDistribution">
        <img src="img/ic_error_orange.svg" />
        <div class="c-wrapper-content">
          <span class="content">
            No dia {{currentDate}} será aplicada
            uma nova distribuição.
          </span>
        </div>
        <button
          ng-click="showInfo()"
          class="c-go-detail">
            VER
        </button>
      </div>
      <distribution-display></distribution-display>
    </ion-list>
    <div class="c-button-container">
      <button
        ng-click="goDistributionChange()"
        class="button button-block button-positive btn-default">
        DISTRIBUIR INTERNET
      </button>
    </div>
    <div class="c-text-distribution">
      A distribuição de internet realizada só estará disponível a partir do dia {{currentDate}}
    </div>
  </ion-content>
</ion-view>
