

<ion-tabs class="tabs-positive tabs-icon-top cards-produtos">
  <ion-tab title="PRODUTOS">
    <ion-nav-view name="products-tab">
    </ion-nav-view>

  </ion-tab>

  <ion-tab title="CONTAS">
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="RECARGA">
  <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>
