.c-transfer-balance-sucess{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  height: 100%;

  .c-user-info{
    margin: 4rem 0;
  }

  .oval1,
  .oval2{
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .oval1{
    background-color: #fc9318;
  }

  .oval2{
    background-color: #aa28e6;
  }

  .separator{
    width: 100%;
    height: 1px;
    opacity: 0.9;
    background-color: #dbdbdb;
    margin: 1rem 0;
  }

  .user{
    display: flex;
    align-items: center;
  }

  .phone{
    padding: 0 0 0 0.5rem;
  }

  .data{
    right: 0;
    margin-left: auto;
    font-weight: 600;
  }

  .c-button-container {
    padding: 0 1rem;
    bottom: 0px;
    margin-top: auto;
    height: auto;
  }
}
