h3.transfer-range{
    margin: 25px 48px 50px 48px;
    width: 100%;
}

.transfer-users{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 80px;


    .transfer-first, .transfer-second, .balance-value{
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left !important;

        span.user-tel{
            color: #909090;
            text-align: left !important;
        }
    }
    .transfer-first{
        border-right: 1px solid #dbdbdb;

        .user-name{
            color: #313131;
            text-align: left !important;
            margin: 0 !important;
            padding: 0 !important;
            font-size: 14px;
        }

        .balance-value{
            color: #9f2aff;
            display: inline;
            text-align: left !important;
            font-family: SimplonBP;
            font-size: 40px;
            font-weight: bold;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;

            span{
                color: #9f2aff;
                display: inline;
                font-size: 22px;
            }
        }
    }

    .transfer-second{
        padding-left: 33px;

        .user-name{
            color: #313131;
            text-align: left !important;
            margin: 0 !important;
            padding: 0 !important;
            font-size: 14px;
        }
        .balance-value{
            color: #fc9318;
            display: inline;
            text-align: left !important;
            font-family: SimplonBP;
            font-size: 40px;
            font-weight: bold;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;

            span{
                color: #fc9318;
                display: inline;
                font-size: 22px;
            }
        }
    }
}

.transfer-explanation{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;

    img{
        margin: 0 3px;
    }
}

button.button-desfazer {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    width: 50%;
    margin-right: 10px;
    padding: 0 10px;
    margin-top: 40px;

    span {
      color: #d82482 !important;
      width: 80%;
      display: block;
      font-size: 14px !important;
      font-weight: bold;
      text-align: left;
      text-transform: uppercase;
    }
  }

  .input-range-custom{
    width: 100%;
    height: auto;
    padding: 0 1rem 0 1rem;
    position: relative;
    margin: 1rem 0;

    .left{
      width: 114px;
      background: #aa28e6;
      height: 14px;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      position: absolute;
      top: 9px;
      left: 1rem;
      z-index: 0;
    }

    .right{
      width: 114px;
      background: #fc9318;
      height: 14px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      position: absolute;
      top: 9px;
      right: 1rem;
      z-index: 0;
    }

    input{
      position: relative;
      z-index: 1;
      width: 100%;
      background: transparent;
    }

    input[type="range"]{
      -webkit-appearance: none;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
      border: solid 1px #d1d1d1;
      border-radius: 50%;
      /* margin-top: -9px ; */
    }

    /* the slider background */
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 14px;
      cursor: pointer;
      background-color: transparent;
    }

  }


.c-button-range{
    margin-top: 10px !important;
}
