.nav-bar-width-subtitle{
    color: #ffffff;
    line-height: 1.4 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;

    .title-nav{
      font-family: SimplonBP-Medium !important;
      font-weight: 500 !important;
      font-size: 1.3rem;
      line-height: 1.4 !important;

    }
    .sub-title{
      font-size: 0.8rem;
    }
}

    .c-transfer-balance{
        background: #ffffff;
        &.remove-margin{
        margin: 0px !important;

        .c-transfer-balance-container{
            display: flex;
            flex-direction: column;
            align-items: center;


            .c-transfer-message{
                width: 100%;
                padding: 1rem;
                background-color: #f8562c;
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
                box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
                margin-bottom: 0.08rem;
                display: flex;
                align-items: center;
                margin-bottom: 13px;

                span{
                    color: #FFFFFF;
                }

                img{
                margin-right: 0.5rem;
                }
            }


            span{
                color: #909090;
                font-size: 12px;
                width: 100%;
                margin-top: 10px;
                text-align: center;
            }

            h3.transfer-select{
                color: #313131;
                font-size: 16px;
                text-align: center;
                padding: 0 1rem;

                span{
                    color: #313131;
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .c-button-container {
                width: 100% !important;
                padding: 0 10px;
            }

            p.card-info {
                color: #909090;
                text-align: center;
                font-size: 12px;

                a{
                    color: #d82482;
                }
            }

            .transfer-list{
                width: 100%;

                .transfer-item{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    border: none;
                    padding: 8px 20px;

                    .transfer-user-info{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        border-bottom: 1px solid $font-color-grey-third;
                        padding-bottom: 20px;

                        @for $i from 1 through length($colors){
                            .circle-#{$i}{
                              background-color: nth($colors,$i);
                            }
                        }

                        .circle{
                            width: 1.5rem;
                            height: 1.5rem;
                            border-radius: 50%;
                        }

                    }

                    .option-wrapper{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 12px;
                        padding-bottom: 10px;

                        // Checkbox. Hides the actual checkbox
                        input[type="checkbox"] {
                            display: none;

                            // Label text
                            + label.label-text {
                            display: inline;
                            position: relative;
                            font-family: arial;
                            color: #909090;
                            font-size: 12px;
                            top: -0.12rem;

                            // Unchecked checkbox box border
                            &::before {
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                content: ' ';
                                border: 2px solid #d82482;
                                border-radius: 2px;
                                vertical-align: middle;
                                margin-right: 8px;
                                cursor: pointer;
                                z-index: 10;
                            }
                            }

                            // Checked checkbox box border
                            &:checked + label {
                            &::before {
                                border: 2px solid #d82482;
                                background:#d82482;
                            }

                            // Checkmark
                            &::after {
                                width: 6px;
                                height: 12px;
                                border: 3px solid #FFFFFF;
                                border-left: none;
                                border-top: none;
                                content: ' ';
                                position: absolute;
                                left: 5px;
                                bottom: 3px;
                                transform: rotatez(45deg);
                                cursor: pointer;
                                z-index: 20;
                            }
                            }

                            // Checked
                            &__input:checked + &__label {
                                &:before {
                                    background-color: #d82482;;
                                    border-color: #d82482;;
                                }

                                &:after {
                                    border-color: #fff;
                                }
                            }

                        }

                        // End Checkbox

                    }

                    .transfer-user{
                        text-align: left;
                        margin-left: 10px;
                        margin-top: 2px;
                        display: block;
                        flex-grow: 4;


                        span{
                            color: #909090;
                        }
                        p{
                            color: #313131;
                        }

                    }

                    .value{
                        font-weight: bold;
                        padding-top: 2px;
                        flex-grow: 1;
                        text-align: right;
                    }

                }
            }
        }
    }
}
