<ion-view
    view-title="Conteúdos do seu plano"
    ng-app="myApp">
    <ion-content class="c-sva remove-margin">
        <div class="c-sva-container">
            <section class="cards-member">
                <div class="sva-header">
                    <h2>Selecione o número:</h2>
                    <select-menu ctrl-name="SvaCtrl">
                    </select-menu>
                  </div>
                </div>
              </div>
            </section>

            <!-- the info -->
            <section
              class="c-section-info active">
              
              <div
                class="c-whith active">
                <div
                  class="{{getClass($index)}}"
                  ng-repeat="info in infoDataSVA">
                  <h3>{{info.title}}</h3>
                  <div class="c-content {{getClass($index)}}">
                    <p>{{info.description}}</p>
                    <a
                      href="#"
                      ng-click="openUrl($event, info.url)"
                      >
                      <img src="img/ic_open_in_new.svg"></img>
                    </a>
                  </div>
                </div>
              </div>
            </section>
        </div>

    </ion-content>
</ion-view>
