ion-content{
  top: 57px !important;
  //padding: 0px 1rem;
}

.pane-white{
  background: white !important;

  .c-bar-wrapper{
    box-shadow: none !important;
  }
}

//try remove  scroll bar apearence
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
