<ion-popover-view
  class="c-popover"
  ng-controller="ProductHomeCtrl">
  <ion-list>
    <button class="item" ng-click="goTransferBalance()">
      Tranferir Saldo
    </button>
    <button class="item" ng-click="goDistribuir()">
      Distribuir Internet
    </button>
    <button class="item" ng-click="goCompraPacote()">
      Comprar Pacotes
    </button>
    <button class="item" ng-click="goToHistoric()">
      Histórico de ações
    </button>
  </ion-list>
</ion-popover-view>
