<ion-popover-view class="c-popover">
  <ion-list>
    <button class="item" ng-click="distribution()">
      Distribuir igualmente
    </button>
    <button class="item" ng-click="reset()">
      Restaurar
    </button>
  </ion-list>
</ion-popover-view>
