<ion-popover-view class="c-popover" ng-controller="DistributionCtrl">
    <ion-list>
      <button class="item">
        Distribuir igualmente
      </button>
      <button class="item">
        Restaurar
      </button>
    </ion-list>
  </ion-popover-view>
  