.c-historic-container{
  position: relative;
  top: 57px;

  .c-list{
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow: scroll !important;

    .item{
      white-space: normal !important;
      padding: 0 1rem !important;

      .c-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1.5rem 0;

        .c-date{
          .sup,
          .sub{
            font-size: 14px;
            font-weight: 600;
            text-align: left;
            color: #000000;
          }
        }
        .c-info{
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: flex-start;
          padding-left: 1.5rem;

          .c-title{
            font-size: 16px;
            font-weight: 600;
            text-align: left;
            color: #000000;
          }

          .c-descr{
            font-size: 14px;
            font-weight: normal;
            text-align: left;
            color: #4a4a4a;
          }
        }
      }
    }
  }
  .c-historic-header{
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    padding: 0px 16px;
    position: relative;
    z-index: 1;

    .c-select-box span{
      text-transform: none !important;
    }

    .c-select-box.active{
      .c-select-box-container{
        height: 164px;
      }
    }

    .c-select-box-container{
      max-height: 182px;
      /* height: 182px; */
      margin-top: -42px;
      transition: all 200ms;

      :nth-child(1){
        background-color: #f5f5f5;
      }
    }

    .cards-member{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5.3rem;

      h2{
        font-size: 18px;
        text-align: left;
        color: #222222;
        font-weight: 600;
        margin-bottom: 0px;
      }
    }
  }
}
