
.nav-bar-width-subtitle{
  color: #ffffff;
  line-height: 1.4 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: 100px !important; */
  text-align: center;

  .title-nav{
    font-family: SimplonBP-Medium !important;
    font-weight: 500 !important;
    font-size: 1.3rem;
    line-height: 1.4 !important;
    padding-top: 8px !important;

  }
  .sub-title{
    font-size: 0.8rem;
  }
}

/*
.background1{
  svg{
    path.foreground{
      fill: blue;
    }
  }
}
*/

.product-home {
  h2 {
    font-size: 18px;
    font-family: SimplonOi-Headline !important;
    color: $font-color-black;
    text-transform: uppercase;
    display: flex;

    span{
      font-size: 0.8rem;
      text-transform: none;
      width: 100%;
      text-align: right;
      clear: both;
      display: inline;
      color: #909090 !important;
    }
  }
  .cards-member {
    background-color: #ffffff;
    padding: 15px 16px 20px 16px;
    display: block;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 8px;
    &.info-member {
      p {
        font-weight: bold;
        font-size: 18px;
        color: $font-color-black;
      }
    }

    &.internet-member {
      //min-height: 470px;
      // height: auto;
      //padding: 30px 0px 20px 16px;
      position: relative;
      .open-modal-product-home {
        width: 328px;
        height: 120px;
        background: transparent;
        border-width: 0px;
        outline: none;
        display: block;
        position: absolute;
        top: 15px;
        color: transparent;
      }
      h3{
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;

        span{
          float: right;
          text-align: right;
          font-size: 0.8rem;
          color: #909090;
        }
      }

      .compsumation-info{
        font-size: 0.8rem;
        padding-top: 10px;
        text-transform: uppercase;
        background: transparent;
        border: none;

        svg{
          fill:#ea288c;
        }
      }
      .internet-info{
        color: #909090;
        text-align: center;
        font-size: 12px;
        margin-bottom: 15px;
        margin-top: 0;
        line-height: 1;
      }
      .graph-linear {
        //width: 328px;
        .icon-info-internet {
          width: 15px;
          height: 15px;
          float: right;
          margin: 2px 5px 0 0;
        }
        .val-min, .val-max {
          color: $font-color-grey-second;
          font-size: 12px;
          font-weight: bold;
        }
        .val-max {
          float: right;
        }
        .val-atual {
          font-size: 14px;
          font-weight: bold;
          color: $font-color-grey;
          margin-left: 154px;
        }
        .graph-bar {
          //width: 328px;
          height: 20px;
          border-radius: 2px;
          background-color: #dbdbdb;
          position: relative;
          .graph-consume {
            width: 175px;
             height: 20px;
             border-radius: 2px;
             background-color: linear-gradient(277deg, #ea288c, #ff6d00);
             background-image: linear-gradient(277deg, #ea288c, #ff6d00);
             position: absolute;
             left: 0;
          }
        }
      }
      p {
        margin-top: 10px;
      }
      h3 {
        font-size: 18px;
        color: $font-color-grey;
        font-family: SimplonBP-Medium !important;
        font-weight: 500;
      }
      .swiper-container {
          height: 300px;

        .swiper-wrapper{

          .fraseF{
            font-size: 12px;
            color: #ffffff;
            text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: -10px;

            * {
              display: flex;
              max-height: 1.2rem;
              /* text-align: center; */
            }

            button{
              border: 0;
              width: 100%;
              margin: 0;
              padding: 0;
              background: transparent;
              word-wrap: break-word;
              text-align: left;
            }

            span{
              background-color: #f8562c;
              padding: 0;
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
              padding-left: 5px;
              width: 360px;
              text-align: right;
            }
            a{
              background-color: #f8562c;
              color: #fff;
              text-decoration: underline;
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
              padding-right: 3px;
              font-size: 12px;
              width: 100%;
              border: 0;
              padding: 2px 0 4px 4px;
              height: 20px;

            }
          }

          .swiper-slide {
            width: 220px !important;
            height: 250px;
            //border-radius: 2px;
            //border: 1px solid #ccc;
            margin-right: 10px;

            .box{
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              flex-direction: column;
              position: relative;

              .phone{
                display: block;
                width: 100%;
                font-size: 1rem;
                text-align: center;
                color: $font-color-grey;
                margin-top: 0.5rem;
                white-space: nowrap;
                word-wrap: normal;
              }

              .chart-item{
                width: 13rem;
                height: 13rem;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 1rem;

                svg{
                  transform: rotate(-135deg);
                  background: transparent;
                }
              }

              .display-wrapper{
                position: absolute;
                top: 5.5rem;
                text-align: center;
                margin: auto;
                left: 0;
                right: 0;




                .consumption-wrapper{
                  font-weight: bold;

                  .consumption{
                    font-size: 2.5rem;
                    text-align: center;
                    color: $font-color-grey-four;
                  }

                  .unity{
                    font-size: 1.9rem;
                    color: $font-color-grey-four;
                  }



                }

                .item-max{
                  font-size: 0.9rem;
                  color: $font-color-grey-four;
                  margin-top: 0.5rem;
                }
              }
            }
          }
        }
        &>.swiper-pagination {

        }
        .slider-pager-page {
          stroke: #d82482 !important;
        }
      }
      .container-button {
        display: flex;
        button.button-home {
          //width: 49%;
          height: 72px;
          border-radius: 2px;
          background-color: #ffffff;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
          border: none;
          color: #d82482;
          display: flex;
          align-items: center;
          width: 50%;
          margin-right: 10px;
          padding: 0 10px;

          span {
            width: 80%;
            display: block;
            font-size: 16px;
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
          }
          img {
            float: right;
            color: #d82482;
          }
          &:last-child {
            margin-right: 0px;

          }
        }
      }
    }
    p.card-info-atualizacao {
      color: #030202;
      text-align: center;
      font-size: 12px;
      margin-top: 25px;
      margin-bottom: 0;
      line-height: 1;
    }
    &.voz-member {
      h2 {
        border-bottom: solid 1px #dbdbdb;
        padding-bottom: 1rem;
        color: #222;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        span.voz-member-info{
          text-align: right;
          font-size: 0.8rem;
          color: #909090;
          text-transform: none;
        }
      }

      .info-voz-member {
        color: $font-color-product-home;
        border-bottom: none;
        padding:0.5rem 0 1rem 0;
        height: 50px;
        .info-voz {
          width: 180px;
          float: left;
          font-size: 14px;
          line-height: 1.14;
          color: #030202;
        }
        .val-voz {
          float: right;
          font-size: 30px;
          font-weight: bold;
          color: #030202;
        }




      }

    }
    &.torpedos-member {
      h2 {
        border-bottom: solid 1px #dbdbdb;
        padding-bottom: 1rem;
        color: #222222;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;

        span.torpedos-member-info{
          text-align: right;
          font-size: 0.8rem;
          color: #909090;
          text-transform: none;
        }
      }
      .info-torpedos-member {
        color: $font-color-product-home;
        border-bottom: solid 1px #dbdbdb;
        padding:0.5rem 0 1rem 0;
        height: 50px;
        .info-torpedos {
          width: 180px;
          float: left;
          font-size: 14px;
          line-height: 1.14;
        }
        .val-torpedos {
          float: right;
          font-size: 30px;
          font-weight: bold;
        }
      }
      .chart-voz-member {
        margin-top: 16px;
        font-size: 14px;
        line-height: 1.14;

        p{
          color: #030202;
        }

        .graph-linear {
          //width: 328px;
          .val-min, .val-max {
            color: $font-color-grey-second;
            font-size: 12px;
            font-weight: bold;
          }
          .val-max {
            float: right;
          }
          .val-atual {
            font-size: 14px;
            font-weight: bold;
            color: $font-color-grey;
            margin: 5px 0 0 83px;
            display: block;
          }
          .graph-bar {
            //width: 328px;
            height: 20px;
            border-radius: 2px;
            background-color: #dbdbdb;
            position: relative;
            .graph-consume {
              width: 99px;
              height: 20px;
              border-radius: 2px;
              background-color: #fc5d07;
              position: absolute;
              left: 0;
            }
          }
        }
      }
    }
    &.others-member {
      h2 {
        border-bottom: solid 1px #dbdbdb;
        padding-bottom: 1rem;
        color: #222222;
      }
      .info-others-member {
        color: $font-color-product-home;
        padding:0.5rem 0 1rem 0;
        .info-others {
          width: 180px;
          float: left;
          font-size: 14px;
          line-height: 1.14;
          color: #030202;
        }
        .val-others {
          float: right;
          font-size: 16px;
          font-weight: bold;
          text-align: right;
          color: #030202;
        }
      }
    }
    &.plan-content {

      h2 {
        border-bottom: solid 1px #dbdbdb;
        padding-bottom: 1rem;
        color: #222222;
      }
      p{
        color: #030202;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 1.14;
      }
      a{
        color: $font-color-pink;
      }
    }
    &.define-apelido {

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: $normal-padding 0px;

      .apelido-info{
        width: 250px;
        margin-left: 20px;
        h2 {
          font-family: SimplonBP!important;
          font-weight: bold;
          color: $font-color-pink;
          text-transform:initial;
          padding-bottom: 0;
          margin-bottom: 0;
        }
        span{
          color: $font-color-grey-second;
          font-size: 14px;
          line-height: 1;
        }
      }
      img{
        margin-right: 10px;
      }
    }


    &.services-member {
      h2 {
        border-bottom: solid 1px #dbdbdb;
        padding-bottom: 1rem;
        color: #222222;
      }
      .info-services-member {

        padding:0.5rem 0 1rem 0;
        .icon-services {
          width: 24px;
          height: 24px;
          float: left;
          color: $font-color-pink;

        }
        .info-services {
          font-size: 16px;
          border-bottom: solid 1px #dbdbdb;
          padding-bottom: 24px;
          color: $font-color-grey;
          display: block;
          margin-left: 55px;

        }
        &:last-child span.info-services{
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
    &.account-member {
      color: $font-color-grey;
      h2 {
        border-bottom: solid 1px #dbdbdb;
        padding-bottom: 1rem;
        color: #222222;
      }
      .info-account-member {

        padding:0.5rem 0 1rem 0;
        .icon-account {
          width:55px;
          height: 45px;
          float: left;
          font-size: 14px;
          font-weight: bold;
          color: $font-color-pink;
          &.icon {
            width:24px;
            height: 24px;
          }
        }
        .paid-account {
          font-weight: bold;
          color: #222;
        }
        .info-account {
          font-size: 16px;
          border-bottom: solid 1px #dbdbdb;
          padding-bottom: 24px;
          color: $font-color-grey;
          display: block;
          margin-left: 55px;
        }
        &:last-child span.info-account{
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
  }

}

//the modal
.c-modal-product-home{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 12;
  transform: scale(0);
  opacity: 0;
  transition: all 300ms;

  &.active{
    transform: scale(1);
    opacity: 1;
  }

  .c-modal-wrapper{
    background: white;
    top: 5rem;
    position: relative;
    height: 20rem;
    margin: 0px 2.5rem;
    padding: 2rem;
    border-radius: 2px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .title{
      font-weight: normal;
      color: #222222;
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
      text-align: keft;
    }

    .content{
      flex-grow: 1;
      font-size: 16px;
      line-height: 1.5;

      .modal-description, .modal-consumo-mensal{
        font-size: 0.9375rem;
        margin: 0;
        span{
          font-weight: bold;
        }
      }
      .modal-consumo-mensal{
        font-size: 1rem;
        margin-top: 20px;
      }
    }

    .button-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      bottom: 0;
      margin-top: 20px;
      padding: 10px 0;

      button{
        background: transparent;
        border-width: 0px;
        outline: none;
        font-weight: bold;
        text-transform: uppercase;
        color: #ed2f80;
        padding: 15px 0;
        font-size: 14px;
        text-align: left;
      }
    }

  }
}

.product-home-custom{
  color: $color_home_purple !important;
  background: #f5f5f5;
  font-family: Arial !important;

  .list{
    margin-top: 1rem;
  }

  & *{
    font-family: Arial !important;
  }

  .title{
    h2{
      color: $color_home_purple !important;
      text-transform: none !important;
      font-size: 1.35rem;
      text-align: left;
      font-weight: 500 !important;

      span.price{
        color: #f3464f;
        float: right;
      }
    }

    p{
      color: $el_home_color;
      font-size: 0.9rem;
      text-align: left;
      line-height: 0;
      margin: 0.5rem 0px 1.875rem 0px;
    }
  }

  .c-card-wrapper{
    background: #f5f5fa;
    height: auto !important;
    padding: 1rem 1rem 1.25rem 1rem;

    &.with-border{
      border-bottom: 1px solid #dbdbdb;
    }
  }

  .bar-custom{
    width: 100%;
    height: 0.625rem;
    border-radius: 2px;
    background-color: #ededed;
    overflow: hidden;
    margin: 1.3rem 0rem 0.6rem 0rem;

    .bar-bg{
      border-radius: 2px;
      background-image: linear-gradient(93deg, #ff6d00, #f3464f);
      height: 100%;
      width: 50%;
    }
  }

  .bar-title{
    font-size: 1.1rem;
    text-align: left;
    color: #8b8c90;
  }

  .bar-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;

    * {
      display: block;
      font-size: 0.9rem;
      color: #8b8c90;
    }
  }

  .data-info{
    font-size: 0.75rem;
    text-align: center;
    color: #cecfd3;
  }

  .transform-swiper-wrapper{
      transform: translate3d(-167px, 0px, 0px);
  }

}
