<!-- Tab 1 content -->
<div class="c-select-menu">
  <!-- select -->
  <div
    class="c-select-box {{active ? 'active' : ''}}">
    <div
      ng-click="open()"
      class="c-select-box-first">
      <span>{{selected}}</span>
      <span class="after"></span>
  </div>
  <div
    class="c-select-box-container">
    <div
      ng-repeat="item in selectData"
      ng-click="setSelected(item, $index)"
      class="c-data">
        {{item.data}}
  </div>
</div>
