<ion-view
  view-title=
    "<div class='nav-bar-width-subtitle'>
        <div class='title-nav'>{{productName}}</div>
        <!-- <div class='sub-title'>(21) 99639-9999</div> -->
    </div>">

      <!--
      <section class="cards-member define-apelido">
        <div class="apelido-info">
          <h2>Defina apelidos aos seus dependentes</h2>
          <span>Assim fica muito mais fácil na hora de definir os números.</span>
        </div>

        <img src="img/ic_keyboard.svg" class="icon-arrow">

      </section>
      -->
    <ion-content class="product-home" ng-init="openModal()">
      <div class="c-main-content-wrapper">

      <section class="cards-member internet-member">
        <h3>Internet
            <span>Atualizado agora</span>
        </h3>
        <div class="graph-linear">
          <span class="val-min">0</span>
          <span class="val-max">50 GB</span>
          <!-- <img src="img/ic_info.svg" class="icon-info-internet"/> -->
          <div class="graph-bar">
            <div class="graph-consume">
            </div>
          </div>
          <span class="val-atual"></span>25 GB</span>
        </div>

        <p class="internet-info">Data de renovação: {{currentDate}}</p>

        <h3>Internet disponível por pessoa</h3>

        <ion-slides options="options" slider="dataSlider.slider">

          <ion-slide-page ng-repeat="item in sliderContent track by $index">

            <div class="box">
              <div class="container-graphic">
                <donut-chart
                    idElement="{{'chart' + $index}}"
                    data="{{item}}"></donut-chart>
              </div>
              <div class="display-wrapper">
                <div class="consumption-wrapper">
                    <span class="consumption">
                      {{item.value | decimal2comma }}
                    </span>
                    <span class="unity">GB</span>
                </div>
                <span class="phone">{{item.phone}}</span>
                <button ng-click="openModalHomeProductGraph($index, sliderContent)"
                    class="compsumation-info">
                  <img src="img/ic_info_outline.svg" />
                </button>
              </div>
            </div>

            <div class='fraseF' id="{{$index}}">
              <span>{{adicionaFrase(item).txt}}</span>
              <button ng-click="{{adicionaFrase(item, $index).ngroute}}">
                <a>{{adicionaFrase(item, $index).lnktxt}}</a>
              </button>
            </div>

          </ion-slide-page>

        </ion-slides>

        <p class="internet-info">Atualizado agora</p>

        <div class="container-button">
            <button class="button-home" ng-click="goTransferBalance()">
              <span>Transferir saldo</span>
              <img src="img/ic_compare_arrows.svg" />
            </button>
            <button class="button-home" ng-click="goDistribuir()">
              <span>Distribuir internet</span>
              <img src="img/ic_tune.svg" />
            </button>
          </div>

      </section>

      <section class="cards-member voz-member">
        <h2>
            voz
        </h2>
        <div class="info-voz-member">
          <span class="info-voz">
              Minutos para qualquer operadora do Brasil
          </span>
          <span class="val-voz">259 min</span>
        </div>
        <p class="card-info-atualizacao">Atualizado há 40 minutos</p>
      </section>

      <section class="cards-member torpedos-member">
        <h2>Torpedos</h2>
        <div class="chart-voz-member">
          <p>
            SMS e MMS enviados
          </p>
          <div class="graph-linear">
            <span class="val-min">0</span>
            <span class="val-max">100</span>
            <div class="graph-bar">
              <div class="graph-consume">
              </div>
            </div>
            <span class="val-atual">18</span>
          </div>
        </div>
        <p class="card-info-atualizacao">Atualizado há 2 dias</p>
      </section>

      <section class="cards-member plan-content">
        <h2>Conteúdos do seu plano</h2>
        <p>Antes de falar e navegar, facilite a vida
          com os Conteúdos do seu plano. Tudo na palma da sua mão.
          <br />É só baixar e aproveitar.</p>
        <a ng-click="goSva()">Confira o conteúdo dos seus planos</a>
      </section>

      <section class="cards-member others-member">
          <h2>Demais telefones neste plano</h2>
          <div class="info-others-member">
            <span class="info-others">
            Oi Móvel
            </span>
            <span class="val-others">(21) 99639-9999</span>
          </div>
          <div class="info-others-member">
            <span class="info-others">
              Oi Móvel
            </span>
            <span class="val-others">(21) 99639-7565</span>
          </div>
          <div class="info-others-member">
            <span class="info-others">
              Oi Móvel
            </span>
            <span class="val-others">(21) 99639-7562</span>
          </div>
        </section>

        <section class="cards-member services-member">
          <h2>Serviços</h2>
          <div class="info-services-member">
            <img src="img/ic_monetization.svg" class="icon-services"/>
            <span class="info-services">Colocar em débito automático</span>
          </div>
          <div class="info-services-member">
            <img src="img/ic_event.svg" class="icon-services"/>
            <span class="info-services">Alterar data de vencimento</span>
          </div>
          <div class="info-services-member">
            <img src="img/ic_build.svg" class="icon-services"/>
            <span class="info-services">Técnico virtual</span>
          </div>
        </section>

        <section class="cards-member account-member">
          <h2>Conta</h2>
          <div class="info-account-member">
            <img src="img/ic_history.svg" class="icon-account icon"/>
            <span class="info-account">Histórico de conta</span>
          </div>
          <div class="info-account-member">
            <i class="icon-account">
            23/06 12:22
            </i>
            <span class="paid-account">Pago</span>
            <span class="info-account">R$ 238,09</span>
          </div>
          <div class="info-account-member">
            <i class="icon-account">
            23/06 12:22
            </i>
            <span class="paid-account">Pago</span>
            <span class="info-account">R$ 238,09</span>
          </div>
          <div class="info-account-member">
            <i class="icon-account">
            23/06 12:22
            </i>
            <span class="paid-account">Pago</span>
            <span class="info-account">R$ 238,09</span>
          </div>
        </section>
      <p class="card-info">Data de renovação: {{currentDate}}</p>
    </div>
  </ion-content>
  <modal-product ng-class="modalClass"></modal-product>
  <modal-product-dist ng-class="modalClassDist"></modal-product-dist>
</ion-view>
