<ion-view view-title="Minha Oi" hide-nav-bar="true">
        <ion-content class="initial-home">
    
            <div class="initial-header">
                <h1>minha</h1>
                <div class="initial-logo"><img src="img/logo.svg"></div>
            </div>
    
            <div class="initial-menu">
                <div class="menu-item" ng-click="goLogin()">
                    <div>
                        <h2>Pós, Combo, TV, Internet e Fixo</h2>
                        <p>2ª via, Últimas Contas, Reparo e mais</p>
                    </div>
                    <div><img src="img/ic_keyboard_white.svg"></div>
                </div>

                <div class="white-line"></div>

                <div class="menu-item second" ng-click="goLogin()">
                        <div>
                            <h2>Pré e Controle</h2>
                            <p>Recarga, Pacotes <br />e Troca de Benefícios</p>
                        </div>
                        <div><img src="img/ic_keyboard_white.svg"></div>
                    </div>

            </div>
    
    
            
    </ion-content>
</ion-view>
    
    