<ion-view view-title="Minha Oi" hide-nav-bar="true">
  <ion-content class="initial-login">
    <div class="list list-inset">
      <form class="" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
        <span class="input input--hoshi">
    			<input class="input__field input__field--hoshi" type="text" id="login" ng-model="login" name="login"/>
    			<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="login">
    				<span class="input__label-content input__label-content--hoshi">E-mail ou CPF</span>
    			</label>
  		  </span>
        <span class="input input--hoshi">
          <input class="input__field input__field--hoshi" type="password" id="password" ng-model="password" name="password"/>
          <label class="input__label input__label--hoshi input__label--hoshi-color-2" for="password">
            <span class="input__label-content input__label-content--hoshi">Senha</span>
          </label>
        </span>
        <span class="new-check-style">
          <input type="checkbox" name="" value="">
          <label for="">Manter conectado</label>
        </span>
          <button class="btn-login" type="submit" ng-disabled="userForm.$invalid">Entrar</button>
      </form>
      <div class="initial-login-other">
        <span>Esqueci a senha</span>
        <span class="criar-conta">Criar conta</span>
      </div>
    </div>
  </ion-content>
</ion-view>
