.c-select-menu{
  .c-select-box{
    transition: 500ms all;
    position: relative;
    z-index: 1;

    span.after{
      transition: all 200ms;
      opacity: 1;
    }

    &.active{
      background-color: white;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);

      span.after{
        width: 0px !important;
        opacity: 0;
        margin-left: 0 !important;
        border-left: none !important;
      }

      & *{
        color: #000000;
      }

      .c-select-box-container{
        box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.5);
        height: 123px;
      }

      .c-select-box-first{
        background-color: #f5f5f5;
        border-color: #d8d8d8;

        span{
          color: #000000;
        }
      }

      .c-data{
        background-color: white;
        border-color: #d8d8d8;
      }
    }

    .c-select-box-first,
    .c-data{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border: solid 1px #d82482;
      width: 145px;
      height: 42px;
      padding-right: 0.5rem;

      * {
        display: flex !important;
        font-weight: 500;
      }

      span{
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #d82482;
        text-transform: uppercase;
      }

      span.after{
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 4px solid #d82482;
        margin-left: 0.5rem;
      }
    }

    .c-select-box-container{
      height: 0;
      overflow: hidden;
      transition: all 500ms;
      position: absolute;
      background: white;

      .c-data{
        margin-top: -1px;
      }
    }
  }

}
