<!-- Tab 1 content -->
<ion-list class="product-home-custom">
  <div class="c-card-wrapper with-border"
    ng-click="goToProductHomeAndSetTitle('Oi Mais')">
    <div class="title">
      <h2>Oi Mais</h2>
      <p>(21) 98899-0805, +2 dependentes</p>
    </div>
    <div>
      <div class="bar-title">Resumo do consumo de internet</div>
      <div class="bar-custom">
        <div class="bar-bg"></div>
      </div>
      <div class="bar-info">
        <span>Consumido: 25 GB</span>
        <span>Franquia total: 50 GB</span>
      </div>
      <div class="data-info">Data de renovação: {{currentDate}}</div>
    </div>
  </div>

  <div class="c-card-wrapper with-border"
    ng-click="goToProductHomeAndSetTitle('Oi Total')">
    <div class="title">
      <h2>Oi Total</h2>
      <p>(21) 98899-0805, +2 dependentes</p>
    </div>
    <div>
      <div class="bar-title">Resumo do consumo de internet</div>
      <div class="bar-custom">
        <div class="bar-bg"></div>
      </div>
      <div class="bar-info">
        <span>Consumido: 25 GB</span>
        <span>Franquia total: 50 GB</span>
      </div>
      <div class="data-info">Data de renovação: {{currentDate}}</div>
    </div>
  </div>
</ion-list>
