.c-nav-drawer{
  width: 19rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  & *{
    pointer-events: all;
  }

  .header{
    width: 100%;
    height: 10.75rem;
    background-image: linear-gradient(to top, #f24354, #ec2c85);
    pointer-events: none;
    display: flex;
    align-items: center;

    & *{
      display: block;
      pointer-events: none !important;
    }

    img{
      margin-left: 1rem;
      margin-right: 2rem;
    }

    .cpf{
      font-size: 1.37rem;
      font-weight: bold;
      text-align: left;
      color: #ffffff;
      margin-bottom: 0.5rem;
    }

    .email{
      font-size: 0.9rem;
      text-align: left;
      color: #ffffff;
    }
  }

  .content{
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 11rem);

    hr{
      border-color: $font-color-grey-third;
      border-width: 0px 0px 1px 0px;
    }

    button{
      background: transparent;
      border-width: 0px;
      outline: none;
      display: flex;
      margin: 1rem 0rem 1rem 1rem;
      font-size: 0.9rem;
      font-weight: bold;
      text-align: left;
      color: #222222;
      align-items: center;

      img{
        margin-right: 2rem;
      }
    }
  }

  .c-protocol-wrapper{
    margin: 1rem;

    .protocol{
      font-size: 0.75rem;
      text-align: left;
      color: #222222;
      float: left;
    }

    .code{
      float: right;
      font-size: 0.9rem;
      text-align: right;
      color: #222222;
    }
  }
}
