<div class="header">
  <img src="img/logo.svg"/>
  <div>
    <div class="cpf">076.000.397-10</div>
    <div class="email">email@provedor.com.br</div>
  </div>
</div>
<div class="content">
  <div>
    <button ng-click="closeNavDrawer()">
      <img src="img/ic_home.svg"/>
      Meus produtos
    </button>
    <button>
      <img src="img/ic_people.svg"/>
      Produtos de terceiros
    </button>
    <button>
      <img src="img/ic_attach_money.svg"/>
      Fazer recarga
    </button>
    <button ng-click="buyPackage()">
      <img src="img/ic_shopping_basket.svg"/>
      Comprar pacotes
    </button>
    <button>
      <img src="img/ic_help.svg"/>
      Suporte
    </button>
    <hr />
    <button>
      <img src="img/ic_info_pink.svg"/>
      Sobre o Minha Oi
    </button>
    <button ng-click="exitApp()">
      <img src="img/ic_home.svg"/>
      Sair
    </button>
  </div>
  <div class="c-protocol-wrapper">
    <span class="protocol">Protocolo: <strong>20178100549582</strong></span>
    <span class="code"><strong>COPIAR CÓDIGO</strong></span>
  </div>
</div>
